{% extends "base.html" %}
{% block title %}会员列表{% endblock title %}

{% block content %}
    <p>会员列表</p>

    <div class="card card-tasks">
        <div class="card-header ">
            <h4 class="card-title">会员管理</h4>
            <p class="card-category">会员等级列表</p>
        </div>
        <div class="card-body ">
            <div class="table-full-width">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input  select-all-checkbox"
                                           type="checkbox" data-select="checkbox"
                                           data-target=".task-select">
                                    <span class="form-check-sign">序号</span>
                                </label>
                            </div>
                        </th>
                        <th>等级</th>
                        <th style="width:110px">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for vip in vipadmin %}
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input task-select" type="checkbox">
                                    <span class="form-check-sign">{{ vip.id }}</span>
                                </label>
                            </div>
                        </td>
                        <td>{{ vip.vipname }}</td>
                        <td class="td-actions text-right">
                            <div class="form-button-action">
                                <button type="button" data-toggle="tooltip" title="Edit Task"
                                        class="btn btn-link <btn-simple-primary">
                                    <i class="la la-edit"> <a href="{% url 'user:vipedit' %}?id={{ vip.id }}"><span>编辑</span></a></i>

                                </button>
                                <button type="button" data-toggle="tooltip" title="Remove"
                                        class="btn btn-link btn-simple-danger">
                                    <i class="la la-times"><a href="{% url 'user:Vipdel' %}?id={{ vip.id }}"><span>删除</span></a></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{#        <div class="card-footer ">#}
{#            <div class="stats">#}
{#                <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}